<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- <img src="" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> -->
       <i class="fas fa-car text-black text-2xl"></i>
      Carverse
    </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Cart</a>
        </li>
        <button class="btn me-2" type="button">Sign In</button>
    </ul>
  </div>
</nav>