<div class="container">
  <footer class="py-5  border-top">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
      <div class="col mb-3">
        <a class="navbar-brand fs-2 fw-semibold text-light" href="#">
          <img src="logo.png" alt="Logo" width="100" height="100" class="d-inline-block mt-3">
          <h1 class="ms-2 fs-1 text-light pt-3 d-inline-block">Carverse</h1>
        </a>
      </div>

      <div class="col mb-3"></div>

      <div class="col mb-3">
        <h5>Quick Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light opacity-75">Browse Cars</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light opacity-75">Sell Your Car</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light opacity-75">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light opacity-75">Insurance</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Support</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light opacity-75">FAQs</a></li> 
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light opacity-75">Contact Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light opacity-75">Terms of Service</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light opacity-75">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Follow Us</h5>
        <ul class="list-unstyled d-flex">
          <li class="ms-0 mt-4">
            <a class="link-body-emphasis text-light opacity-80" href="#" aria-label="Instagram">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            </li>
            <li class="ms-3 mt-4">
                <a class="link-body-emphasis text-light opacity-80" href="#" aria-label="Facebook">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
            </li>
            <li class="ms-3 mt-4">
                <a class="link-body-emphasis text-light opacity-80" href="#" aria-label="Twitter">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
            </li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-center pt-4 mt-4 border-top">
      <p class="mb-0">© 2025 Carverse. All rights reserved.</p>
    </div>

  </footer>
</div>
